.header
{
  width: 100%;
  align-items: center;
  text-align: center;
  color: #f4df42;
}

.row
{
  background-color: black;

}

.btn btn-primary dropdown-toggle
{

}

.prtIcon
{

}

.dropdown-toggle
{
    width: 100%;
}

.dropdown-menu
{
  width: 100%;
}

.container
{
  margin-left: 10%;
  margin-right: 10%;
}
