.header
{
  width: 100%;
  align-items: center;
  text-align: center;
  color: #f4df42;
}
.col
{
  text-align: center;
  color: black;
  padding-left: auto;
  padding-right: auto;
  font-size: 20px;
  background-color: white;
  border-radius: 15px;
}

.tab
{
  color: white;
  background-color: inherit;
  text-align: center;
  float: left;padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 100%;
}

.row
{
  background-color: black;

}

.col-3
{
  text-align: center;
  float: left;
}

i {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.prtIcon
{
  float:left;
  height: 50px;
  overflow: auto;
}
