.header
{
  width: 100%;
  align-items: center;
  text-align: center;
  color: #f4df42;
}

.row
{
  background-color: black;

}

.btn btn-primary dropdown-toggle
{

}

.dropdown
{
  position: static;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.dropdown-toggle
{
    width: 100%;
}

.dropdown-menu
{
  width: 100%;
}

.dropdown-item
{
  text-align-last: center;
  width:100%;
}
